.header {
    display: flex;
    justify-content: space-between;
  }
  
  .header__right {
    display: flex;
    align-items: center;
    padding-right: 60px;
  }
  
  /* .header__left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
  }
  
  .header__left > input {
    border: none;
    width: 100%;
  } */
  
  .header__right > h4 {
    margin-left: 10px;
  }

/* .track {
  display: flex;
  margin: 15px;
  align-items: center;
  cursor: pointer;
}

.search__results {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
  position: absolute;
}

.track_info {
  margin-left: 12px;
} */
